@font-face {
    font-family: "fzxs14";
    src: url("fzxs14.ttf");
         
  }

#body {width: 100vw;
    hight: 100vh;
    background: white;
    overflow: hidden;
    }
#aa {
    width: 1400px;
    height: 276px;
    font-family: fzxs14;
    

    position: relative;
    top: 20px;
    left: 30px;
    right: 30px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#a1 {
    width: 261.2px;
    height: 276px;

    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#a-1-1 {
    font-size: 18pt;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 180px;
   
   
}

#kb1 {
    color: #ffffff;
    height: 30px;
    width: 30px;
}

#a-1-2 {
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background: black;
    width: 115px;
    
}

#kb1-1 {
    height: 10px;
    width: 10px;
    
}

#a-1-3 {
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background: black;
    width: 50px;
    
}

#kb1-2 {
    height: 60px;
    width: 10px;
    background: white(255, 255, 255);
}

#kb1-3 {
    height: 10px;
    width: 10px;
    background: white(255, 255, 255);
}

#a-1-4 {
    font-size: 8pt;
    color: rgb(0, 0, 0);
    
}












#a2 {
    width: 783.6px;
    height: 276px;
}
#ver {
    font-size: 54px;
    transform: translate(56px, -132px);
}
#a-2-2 {
    font-size: 12pt;
    text-align: center;
    transform: translate(0, -132px);
}
#warning {
    font-size: 12pt;
    text-align: center;
    transform: translate(-220px,0);
    color: rgb(255, 0, 179);}

#a3 {
    width: 261.2px;
    height: 276px;
    position: relative;
    left: 40px;
    text-align: right;
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    justify-content: flex-start;
    

}



#kb4 {
    width: 10px;
    height: 30px;
}

#home {
    
    font-size: 12pt;
    color: rgb(114, 114, 114);
    text-decoration: none;
    background-color: black;
    width: 90px;
    position: relative;
    transform: translate(126px,0px);
    
  }



#kb5 {
    width: 10px;
    height: 20px;
}
#gra {font-size: 12pt;
    color: rgb(114, 114, 114);
    text-decoration: none;
    
}
#kb6 {
    width: 10px;
    height: 20px;
}

#ill {font-size: 12pt;
    color: rgb(114, 114, 114);
    text-decoration: none;
    
}

#kb7 {
    width: 10px;
    height: 20px;
}
#other {font-size: 12pt;
    color: rgb(114, 114, 114);
    text-decoration: none;
    
}

#kb8 {
    width: 10px;
    height: 140px;
}




#b1 {
    transform: translate(0px,300px);
}
#di {
    transform: translate(-6px,0px);
}











#hercake {transform:scale(0.6);
    display: block;
    position: relative;
    top: -560px;
    left: 250px;
    animation: cher;
    animation-play-state: running;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
   }
   @keyframes cher {
    from {
        top: -560px;
        left: 250px;}
    to {
        top: -585px;
        left: 250px;}
 
}

#day {transform:scale(0.55);
    display: block;
    position: relative;
    top: -965px;
    left: 500px;
    animation: cday;
    animation-play-state: running;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
   }
   @keyframes cday {
    from {top: -965px;
        left: 500px;}
    to {top: -945px;
        left: 500px;}
 
}
#whenan {transform:scale(0.5);
    display: block;
    position: relative;
    top: -1165px;
    left: 760px;
    animation: cwh;
    animation-play-state: running;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
   }
   @keyframes cwh {
    from {top: -1165px;
        left: 760px;}
    to {top: -1175px;
        left: 760px;}
 }





#ren {transform:scale(0.5);
    display: block;
    position: relative;
    top: -340px;
    left: -300px;

 }

 #intro1 {font-family: fzxs14;
    font-size: 8pt;
    color: black;
    background-color: rgb(244, 244, 20);
    width: 325px;
    display: none;
    position: relative;
    top: -936px;
    left: 570px;
 }
  
 #intro2 {font-family: fzxs14;
    font-size: 8pt;
    color: black;
    background-color: rgb(244, 244, 20);
    width: 376px;
    display: none;
    position: relative;
    top: -1190px;
    left: 900px;
 }

 #intro3 {font-family: fzxs14;
    font-size: 8pt;
    color: black;
    background-color: rgb(37, 224, 20);
    width: 285px;
    display: none;
    position: relative;
    top: -1086px;
    left: 1180px;
 }