@font-face {
    font-family: "fzxs14";
    src: url("fzxs14.ttf");
         
  }


body {width: 860px;
  height: 1200px;
    background-color: rgb(37, 224, 20);
    
}

#aa {
    width: 1400px;
    height: 276px;
    font-family: fzxs14;
    overflow: hidden;

    position: relative;
    top: 20px;
    left: 30px;
    right: 30px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#a1 {
    width: 261.2px;
    height: 276px;

    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#a-1-1 {
    font-size: 18pt;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 95px;
   
   
}

#kb1 {
    color: #ffffff;
    height: 30px;
    width: 30px;
}

#a-1-2 {
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background: black;
    width: 105px;
    
}

#kb1-1 {
    height: 191px;
    width: 10px;
    
}




#a2 {
    width: 783.6px;
    height: 276px;
}
#her {
    font-size: 54px;
    transform: translate(280px, -132px);
}

#a-2-2 {
    font-size: 12pt;
    text-align: center;
    transform: translate(0, -132px);
    color: rgb(0, 0, 0);
}



#a3 {
    width: 261.2px;
    height: 276px;
    
    text-align: right;
    
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    

}




#kb4 {
    width: 10px;
    height: 30px;
}

#home {font-size: 12pt;
    color: #c4c4c4;
    background-color: black;
    width: 100px;
    text-decoration: none;
    transform: translate(161.2px,0px);
    
    
}

#kb5 {
    width: 10px;
    height: 20px;
}

#gra {font-size: 12pt;
    color: #ffffff;
    background-color: black;
    width: 180px;
    text-decoration: none;
    transform: translate(82px,0px);
}



#kb6 {
    width: 10px;
    height: 162px;
}





 


#im1 {transform:scale(0.02);
    width: 32.64px;
    height: 49.12px;
    opacity: 1;
   display: block;
   position: relative;
   top: 45px;
   left: 0px;
   -webkit-animation: chan1 ;
   animation-play-state: running;
   animation-duration: 10s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   
  }
  @keyframes chan1 {
   from {transform:scale(0.02);
      opacity: 1;
    }
   to {transform:scale(0.09);
      opacity: 0.85;
    }
 }



#im2 {transform:scale(0.025);
    width: 32.64px;
    height: 49.12px;
    opacity: 0.65;
    display: block;
    position: relative;
    top: 50px;
    left: 130px;
    -webkit-animation: chan2 ;
    animation-play-state: running;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan2 {
    from {transform:scale(0.025);
      opacity: 0.65;
     }
    to {transform:scale(0.07);
      opacity: 1;
     }
 }

 #im3 {transform:scale(0.05);
    width: 32.64px;
    height: 49.12px;
    opacity: 0.5;
    display: block;
    position: relative;
    top: 240px;
    left: 125px;
    -webkit-animation: chan3 ;
    animation-play-state: running;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan3 {
    from {transform:scale(0.05);
      opacity: 0.5;
     }
    to {transform:scale(0.09);
      opacity: 1;
     }
 }

 #im4 {transform:scale(0.02);
    width: 32.64px;
    height: 49.12px;
    opacity: 0.6;
    display: block;
    position: relative;
    top: -70px;
    left: 180px;
    -webkit-animation: chan4 ;
    animation-play-state: running;
    animation-duration: 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan4 {
    from {transform:scale(0.02);
      opacity: 0.6;
     }
    to {transform:scale(0.085);
      opacity: 1;
     }
 }

 #im5 {transform:scale(0.02);
    width: 32.64px;
    height: 49.12px;
    opacity: 0.7;
    display: block;
    position: relative;
    top: 40px;
    left: 200px;
    -webkit-animation: chan5 ;
    animation-play-state: running;
    animation-duration: 14s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan5 {
    from {transform:scale(0.02);
      opacity: 0.7;
     }
    to {transform:scale(0.12);
      opacity: 1;
     }
 }

 #im6 {transform:scale(0.02);
    width: 32.64px;
    height: 49.12px;
    opacity: 0.8;
    display: block;
    position: relative;
    top: 20px;
    left: 240px;
    -webkit-animation: chan6 ;
    animation-play-state: running;
    animation-duration: 16s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan6 {
    from {transform:scale(0.02);
      opacity: 0.8;
     }
    to {transform:scale(0.16);
      opacity: 0.85;
     }
 }

 #im7 {transform:scale(0.02);
    width: 32.64px;
    height: 49.12px;
    opacity: 0.6;
    display: block;
    position: relative;
    top: -120px;
    left: 300px;
    -webkit-animation: chan7 ;
    animation-play-state: running;
    animation-duration: 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan7 {
    from {transform:scale(0.02);
      opacity: 0.6;
     }
    to {transform:scale(0.08);
      opacity: 0.8;
     }
 }

 #im8 {transform:scale(0.02);
    width: 32.64px;
    height: 49.12px;
    opacity: 0.3;
    display: block;
    position: relative;
    top: -220px;
    left: 360px;
    -webkit-animation: chan8 ;
    animation-play-state: running;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan8 {
    from {transform:scale(0.02);
      opacity: 0.3;
     }
    to {transform:scale(0.08);
      opacity: 1;
     }
 }

 #im9 {transform:scale(0.04);
    width: 32.64px;
    height: 49.12px;
    opacity: 1;
    display: block;
    position: relative;
    top: 20px;
    left: 440px;
    -webkit-animation: chan9 ;
    animation-play-state: running;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan9 {
    from {transform:scale(0.04);
      opacity: 1;
     }
    to {transform:scale(0.08);
      opacity: 0.8;
     }
 }

 #im10 {transform:scale(0.03);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.8;
    display: block;
    position: relative;
    top: -180px;
    left: 490px;
    -webkit-animation: chan10 ;
    animation-play-state: running;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan10 {
    from {transform:scale(0.03);
      opacity: 0.8;
     }
    to {transform:scale(0.2);
      opacity: 1;
     }
 }

 #im11 {transform:scale(0.04);
    width: 49.12px;
    height: 32.64px;
    opacity: 1;
    display: block;
    position: relative;
    top: -370px;
    left: 540px;
    -webkit-animation: chan11 ;
    animation-play-state: running;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan11 {
    from {transform:scale(0.04);
      opacity: 1;
     }
    to {transform:scale(0.08);
      opacity: 0.5;
     }
 }

 #im12 {transform:scale(0.02);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.7;
    display: block;
    position: relative;
    top: -380px;
    left: 620px;
    -webkit-animation: chan12 ;
    animation-play-state: running;
    animation-duration: 11s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan12 {
    from {transform:scale(0.02);
      opacity: 0.7;
     }
    to {transform:scale(0.1);
      opacity: 1;
     }
 }

 #im13 {transform:scale(0.03);
    width: 49.12px;
    height: 32.64px;
    opacity: 1;
    display: block;
    position: relative;
    top: -320px;
    left: 680px;
    -webkit-animation: chan13 ;
    animation-play-state: running;
    animation-duration: 13s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan13 {
    from {transform:scale(0.03);
      opacity: 1;
     }
    to {transform:scale(0.16);
      opacity: 0.45;
     }
 }

 #im14 {transform:scale(0.02);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.7;
    display: block;
    position: relative;
    top: -200px;
    left: 740px;
    -webkit-animation: chan14 ;
    animation-play-state: running;
    animation-duration: 9s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan14 {
    from {transform:scale(0.02);
      opacity: 0.7;
     }
    to {transform:scale(0.1);
      opacity: 1;
     }
 }

 #im15 {transform:scale(0.05);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.4;
    display: block;
    position: relative;
    top: -540px;
    left: 780px;
    -webkit-animation: chan15 ;
    animation-play-state: running;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan15 {
    from {transform:scale(0.05);
      opacity: 0.4;
     }
    to {transform:scale(0.04);
      opacity: 1;
     }
 }

 #im16 {transform:scale(0.02);
    width: 49.12px;
    height: 32.64px;
    opacity: 1;
    display: block;
    position: relative;
    top: -520px;
    left: 840px;
    -webkit-animation: chan16 ;
    animation-play-state: running;
    animation-duration: 16s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan16 {
    from {transform:scale(0.02);
      opacity: 1;
     }
    to {transform:scale(0.06);
      opacity: 0.75;
     }
 }

 #im17 {transform:scale(0.06);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.8;
    display: block;
    position: relative;
    top: -640px;
    left: 880px;
    -webkit-animation: chan17 ;
    animation-play-state: running;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan17 {
    from {transform:scale(0.06);
      opacity: 0.8;
     }
    to {transform:scale(0.036);
      opacity: 1;
     }
 }

 #im18 {transform:scale(0.012);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.7;
    display: block;
    position: relative;
    top: -540px;
    left: 946px;
    -webkit-animation: chan18 ;
    animation-play-state: running;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan18 {
    from {transform:scale(0.012);
      opacity: 0.7;
     }
    to {transform:scale(0.05);
      opacity: 1;
     }
 }

 #im19 {transform:scale(0.03);
    width: 49.12px;
    height: 32.64px;
    opacity: 1;
    display: block;
    position: relative;
    top: -530px;
    left: 1000px;
    -webkit-animation: chan19 ;
    animation-play-state: running;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan19 {
    from {transform:scale(0.03);
      opacity: 1;
     }
    to {transform:scale(0.05);
      opacity: 0.7;
     }
 }

 #im20 {transform:scale(0.02);
    width: 49.12px;
    height: 32.64px;
    opacity: 1;
    display: block;
    position: relative;
    top: -640px;
    left: 1050px;
    -webkit-animation: chan20 ;
    animation-play-state: running;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan20 {
    from {transform:scale(0.02);
      opacity: 1;
     }
    to {transform:scale(0.1);
      opacity: 0.9;
     }
 }

 #im21 {transform:scale(0.03);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.5;
    display: block;
    position: relative;
    top: -360px;
    left: 1020px;
    -webkit-animation: chan21 ;
    animation-play-state: running;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan21 {
    from {transform:scale(0.03);
      opacity: 0.5;}
    to {transform:scale(0.08);
      opacity: 0.8;}
 }

 #im22 {transform:scale(0.02);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.35;
    display: block;
    position: relative;
    top: -820px;
    left: 1100px;
    -webkit-animation: chan22 ;
    animation-play-state: running;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan22 {
    from {transform:scale(0.02);
      opacity: 0.35;
     }
    to {transform:scale(0.06);
      opacity: 1;
     }
 }

 #im23 {transform:scale(0.03);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.85;
    display: block;
    position: relative;
    top: -810px;
    left: 1180px;
    -webkit-animation: chan23 ;
    animation-play-state: running;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan23 {
    from {transform:scale(0.03);
      opacity: 0.85;
     }
    to {transform:scale(0.08);
      opacity: 1;
     }
 }

 #im24 {transform:scale(0.03);
    width: 49.12px;
    height: 32.64px;
    opacity: 1;
    display: block;
    position: relative;
    top: -880px;
    left: 1220px;
    -webkit-animation: chan24 ;
    animation-play-state: running;
    animation-duration: 9s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan24 {
    from {transform:scale(0.03);
      opacity: 1;
     }
    to {transform:scale(0.06);
      opacity: 0.6;
     }
 }

 #im25 {transform:scale(0.035);
    width: 49.12px;
    height: 32.64px;
    display: block;
    position: relative;
    top: -640px;
    left: 1080px;
    -webkit-animation: chan25 ;
    animation-play-state: running;
    animation-duration: 16s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan25 {
    from {transform:scale(0.035);
     }
    to {transform:scale(0.12);
     }
 }

 #im26 {transform:scale(0.035);
    width: 49.12px;
    height: 32.64px;
    opacity: 0.8;
    display: block;
    position: relative;
    top: -810px;
    left: 1280px;
    -webkit-animation: chan26 ;
    animation-play-state: running;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   }
   @keyframes chan26 {
    from {transform:scale(0.035);
      opacity: 0.8;
     }
    to {transform:scale(0.08);
      opacity: 0.75;
     }
 }

 #ren {transform:scale(0.5);
  display: block;
  position: relative;
  top: -240px;
  left: -140px;
  z-index: -1;
}
#di {
  position: relative;
  left: -5px;
  top: -350px;
  z-index: -2;
}

#qizi {transform:scale(0.4);
  

 display: block;
 position: relative;
 top: -770px;
 left: 1060px;}